.todo-undo {

}

.todo-completed {
    color: gray;
    text-decoration: line-through;
}

p span {
    cursor: pointer;
}

p{
    width: fit-content;
}

.filter-clicked{

}

.filter-unclicked{
    color: #7d7a7a;
}
